.container_calculadora {
    background-color: rgb(81, 81, 81);
    
    width: 35%;
    height: 45em;
    margin: 1em auto;
    padding: .7em 0;
    border-radius: 16px;
    box-shadow: 1px 1px 4px 1px #00000057;
}

.container_calculadora_mostrar {
    /* background-color: aqua; */
    background-color: rgb(55, 55, 55);

    
    width: 90%;
    height: 7em;
    margin: 1em auto;
    border-radius: 16px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container_calculadora_mostrar h4 {
    /* background-color: aqua; */
    font-size: 2.8em;
    padding: 0 .8em;
    margin: .5em 0;

}

.container_calculadora_numeros {
    /* background-color: blanchedalmond; */
    background-color: rgb(55, 55, 55);

    width: 90%;
    height: 24em;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1;
}

.numero {
    background-color: rgb(130, 130, 130);
    
    width: 90%;
    /* height: 4em; */
    margin: .8em 0;
    text-align: center;
    padding: .8em 0;
    font-size: 1.3em;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}

.numero:hover {
    transition: .2s;
    background-color: rgb(106, 106, 106);

}

.container_calculadora_resultados {
    /* background-color: brown; */
    background-color: rgb(55, 55, 55);

    width: 90%;
    height: 7em;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
}

.numero_resultado {
    background-color: rgb(175, 159, 17);

    width: 90%;
    font-size: 1.3em;
    /* height: 4em; */
    margin: .3em ;
    text-align: center;
    padding: 1em 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: .2s;

}

.numero_resultado:hover {
    background-color: rgb(129, 117, 11);
    transition: .2s;
} 

.resultado_red {
    background-color: rgb(166, 0, 0);
}

.resultado_red:hover {
    background-color: rgb(122, 0, 0);
    transition: .2s;
}